<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img
              src="{{cardPhoto}}"
              alt=""
              srcset=""
              [routerLink]="['/details', mediaType, Id]"/>
         
          </div>
          <div class="small-card__title">
            <p>{{smallCardTitle}}</p>
          </div>
          <div class="small-card__release">{{ releaseDate | date:'dd/MM/yyyy' }}</div>
       
    </div>
   
    
</div>



 