.container__small-card {
  width: 150px;
  min-width: 150px;
  margin-top: 15px;
  cursor: pointer;
}

.container__small-card-content {
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.small-card__photo {
    width: 100%;
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
}

.small-card__photo > img {
  width: 100%;
  height: 100%;
 
}

.small-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__small-card-separator {
margin-top: 10px ;
}

.small-card__vote > img {
  width: 14px;
  height: 14px;
}