<app-menu-title></app-menu-title>

<div class="container__articles">
  <h1>Tendências da Semana</h1>
  <div class="articles__others">
  
    <ng-container *ngFor="let newsItem of news">
      <app-small-card
        [Id]="newsItem.id"
        [cardPhoto]="getCardPhoto(newsItem.poster_path)"
        [smallCardTitle]="newsItem.original_title ? newsItem.original_title : newsItem.name"
        [overview]="newsItem.overview"
        [releaseDate]="newsItem.release_date ? newsItem.release_date : newsItem.first_air_date"
        [mediaType]="newsItem.media_type"
        
      >
       </app-small-card>
    </ng-container>
  </div>
</div>
