.container__movies {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.movies__week, .movies__day, .movies__gender {
    display: flex;
    width: 70%;
    gap:15px;
    overflow-x: scroll;
    overflow-y: hidden;
}



.movies__gender-selector {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;  
    
}
.movies__gender-selector > .anchor {
    cursor: pointer;

}

.selected {

    color: black;
    background-color: white;
}